.dx-datagrid {
    background-color: inherit !important;
    color: rgb(105, 105, 105) !important;
    font-weight: 500 !important;
    padding: 2vh 1vh;
}

#root>div.makeStyles-content-11>div.dx-widget.dx-visibility-change-handler>div>div.dx-datagrid-header-panel>div>div>div.dx-toolbar-after>div>div>div {
    background-color: transparent !important;
    border-width: 2px;

    input {
        color: rgb(116, 116, 116) !important;
    }
}

.red {
    background-color: rgb(255, 45, 45) !important;
    color: aliceblue !important;
}

#root>div.makeStyles-content-11>div.dx-widget.dx-visibility-change-handler>div>div.dx-datagrid-header-panel>div {
    background-color: transparent !important;
}

.info {
    text-align: center;
    margin: 1vh 0 1vh 0;
    padding: 1vh;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.103) !important;
}

.info:hover {
    transition: all 1s ease-in-out;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.103) !important;
}

.covid-table {
    margin-top: 2vh;
    border-radius: 20px;
    height: 65vh;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.103) !important;
}