#admin {
    display: flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    height: 80vh;

    .login {
        width: 60vw !important;
    }
}